.error-message {
    position: fixed;
    top: 30px;
    right: 30px;
    padding: 10px;
    background-color: #d96666;
    background-image: url("https://swa-store.ru/image/cache/import_files/98/9851f620f1b611ea817a0015175b484d_02dabf850d4611eb817e0015175b484d-1300x1000.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-size: contain;
    color: white;
    border-radius: 5px;    
}